.generator {
	font-family: sans-serif;
}
.figure {
	display: inline-block;
	border-style: solid;
    min-height: 500px;
    min-width: 500px;
    border-width: 1px;
}

.form {
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

.form input {
	display: block;
    margin-bottom: 10px;
}