<!DOCTYPE html>
<html>
  <head>
    <style>
.thickGrid {
  stroke-width: 2px;
  fill: none;
  stroke: black;
}

.thinGrid {
  stroke-width: 1px;
  fill: none;
  stroke: black;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript">
var app = angular.module('Connect4App', []);

app.controller('AppCtrl', ['$scope', '$document', function($scope, $document) {
	$scope.cellSize = 50;
	$scope.numRows = 6;
	$scope.numCols = 7;
	
	$scope.range = function(min, max, step) {
	    step = step || 1;
	    var input = [];
	    for (var i = min; i <= max; i += step) {
	        input.push(i);
	    }
	    return input;
	};
	
	$scope.players = [{id: 1, name: 'Mr. Red', color: 'red'}, 
	                  {id: 2, name: 'Mr. Yellow', color: 'yellow'}];
	
	$scope.startGame = function() {
		$scope.player = 0;
		$scope.pieces = {};
		$scope.colButtons = initColButtons();
	};
	
	function initColButtons() {
		var out = [];
		for (i = 0; i < $scope.numCols; i++) {
			out.push(true);
		}
		return out;
	};
	
	function toIndex(row, col) {
		return row * $scope.numCols + col;
	}
	
	$scope.asRow = function(index) {
		return (index / $scope.numCols) >> 0;
	}
	
	$scope.asCol = function(index) {
		return index % $scope.numCols;
	}
	
	function playerAt(row, col) {
		return $scope.pieces[toIndex(row, col)];
	}
	
	function setAsCurrentPlayer(row, col) {
		$scope.pieces[toIndex(row, col)] = $scope.players[$scope.player];
	}
	
	$scope.addToCol = function(colNum) {
		var newRow = maxRow(colNum);
		if (newRow >= $scope.numRows) {
			return;
		}
		setAsCurrentPlayer(newRow, colNum);
        $scope.colButtons[colNum] = newRow < ($scope.numRows - 1);
        var winner = findWinner(newRow, colNum);
        if (winner) {
        	for (i = 0; i < $scope.numCols; i++) {
        		$scope.colButtons[i] = false;
    		}
        	setTimeout(function() { alert(winner.name + " WINS!!!"); }, 1000);
        }
        else {
          $scope.player = ($scope.player + 1) % $scope.players.length;
        }
	};
	
	$scope.startGame();
	
	function findWinner(newRow, newCol) {
		var directions = [
		  {rStep: 1, cStep: 0},
		  {rStep: 0, cStep: 1},
		  {rStep: 1, cStep: 1},
		  {rStep: 1, cStep: -1}
		];
		for (var i = 0; i < directions.length; i++) {
			var winner = findDirectionWinner(newRow, newCol, directions[i]);
			if (winner) {
				return winner;
			}
		}
		return null;
	}
	
	function findDirectionWinner(newRow, newCol, direction) {
		var index = toIndex(newRow, newCol);
		var newPiecePlayer = $scope.pieces[index];
		
		var count = 1;
		var parities  = [1, -1];
		for (var i = 0; i < parities.length; i++) {
			var winner = semiDirection(newRow, newCol, count, direction, parities[i], newPiecePlayer);
			if (winner) {
				return winner;
			}
		}
		return null;
	}
	
	function semiDirection(newRow, newCol, count, direction, parity, player) {
		var countRow = newRow + parity * direction.rStep;
		var countCol = newCol + parity * direction.cStep;
		while(countRow >= 0 
		   && countRow < $scope.numRows
		   && countCol >= 0
		   && countCol < $scope.numCols
		   && isPlayerPiece(player, countRow, countCol)) {
			countRow = countRow + parity * direction.rStep;
			countCol = countCol + parity * direction.cStep;
			count++;
			if (count >= 4) {
				return player;
			}
		};
		return null;
	}
	
	function isPlayerPiece(player, row, col) {
		var other = $scope.pieces[toIndex(row, col)];
		if (other == null) {
			return false;
		}
		return player.id == other.id;
	}
	
	function maxRow(colIndex) {
		var row = 0;
		while (playerAt(row, colIndex) != null) {
			row++;
		}
		return row;
	}
	
}]);

    </script>
  </head>
  <body ng-app="Connect4App" ng-cloak>
    <div ng-controller="AppCtrl">
      <div style="width: {{ cellSize * numCols }}px;height: {{ cellSize * numRows }}px; margin-left: 10px; margin-top: 10px">
      <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <rect id="boundingRectangle"
              ng-attr-x="0" ng-attr-y="0" 
              ng-attr-width="{{cellSize * numCols}}" 
              ng-attr-height="{{cellSize * numRows}}" 
              class="thickGrid" />
        <path ng-repeat="r in range(1, numRows - 1, 1)"
              ng-attr-d="M 0 {{r * cellSize}} L {{cellSize * numCols}} {{r * cellSize}}"
              class="thinGrid" />
        <path ng-repeat="r in range(1, numCols - 1, 1)"
              ng-attr-d="M {{r * cellSize}} 0 L {{r * cellSize}} {{numRows * cellSize}}" 
              class="thinGrid" />
        <circle ng-repeat="(index, p) in pieces"
                ng-if="p"
                ng-attr-cx="{{(asCol(index) + 0.5) * cellSize}}" 
                ng-attr-cy="{{(numRows - asRow(index) - 0.5) * cellSize}}" 
                ng-attr-r="{{cellSize / 2.5}}" stroke="none" 
                fill="{{p.color}}" />
      </svg>
      <button ng-repeat="r in range(0, numCols - 1, 1)"
              ng-click="addToCol(r)"
              ng-disabled="!colButtons[r]"
              style="width: {{ cellSize }}px">^</button>
      <p><span style="font-weight: bold; color: {{ players[player].color }}">{{ players[player].name }}</span> to play...</p>
      <p></p>
      <button ng-click="startGame()">Restart</button>
      </div>
    </div>
  </body>
</html>